@using BusinessLogicLayer.DTO
@using College_portal_System.Models.StudentViewModels
@model TranscriptViewModel
@{
    ViewData["Title"] = "GetTakenCourses";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    ViewData["firstname"] =Model.FirstName;
    ViewData["lastname"] = Model.LastName;
    ViewData["image"] = Model.Picture;
    ViewData["gender"] = Model.Gender;
    ViewData["id"] = Model.NationalId;
}
<div class="pagetitle">
    <h1>Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Transcript</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    @if (Model.Picture != null && Model.Picture.Length > 0)
                    {
                        var base64Image = ImageHelper.GetBase64Image(Model.Picture);
                        <img src="data:image/jpeg;base64,@base64Image" alt="Profile" class="rounded-circle" style="max-width: 150px; max-height: 150px;">
                    }
                    else
                    {
                        if (Model.Gender == false)
                        {
                            <img src="~/StudentAssets/img/blank male profile pic.png" alt="Profile" class="rounded-circle" style="max-width: 150px; max-height: 150px;">
                        }
                        else
                        {
                            <img src="~/StudentAssets/img/female blank profile pic.png" alt="Profile" class="rounded-circle" style="max-width: 150px; max-height: 150px;">
                        }
                    }

                    <h5>Name : @Model.FirstName @Model.LastName</h5>
                    <h5>Specialize : @Model.DepartmentName</h5>

                </div>
            </div>
        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Student ID :</div>
                                <div class="col-lg-9 col-md-8">@Model.StudentId</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Total GPA :</div>
                                <div class="col-lg-9 col-md-8">@Model.TotalGpa</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Hours :</div>
                                <div class="col-lg-9 col-md-8">@Model.HoursTaken</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">State :</div>
                                <div class="col-lg-9 col-md-8">Level @Model.CurrentYear - 
                                    @if (Model.CurrentState == false)
                                    {
                                        @:Passed
                                    }
                                    else
                                    {
                                        @:Continous
                                    }

                                </div>
                            </div>

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

<div class="card">
    <div class="card-body">
        <!-- Bordered Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">CourseName</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Total</th>                   
                    <th scope="col">Grade</th>                   
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Transcripts)
                {
                    <tr>
                        <th scope="row">@item.CourseCode</th>
                        <td>@item.CourseName</td>
                        <td>@item.Hours</td>
                        <td>@item.FinalGrade</td>
                        <td>
                            @if(item.FinalGrade >= 90)
                            {
                                @:A+
                            }else if(item.FinalGrade>=85 && item.FinalGrade < 90)
                            {
                                @:A
                            }
                            else if (item.FinalGrade >= 80 && item.FinalGrade < 85)
                            {
                                @:B+
                            }
                            else if (item.FinalGrade >= 75 && item.FinalGrade < 80)
                            {
                                @:B
                            }
                            else if (item.FinalGrade >= 70 && item.FinalGrade < 75)
                            {
                                @:C+
                            }
                            else if (item.FinalGrade >= 65 && item.FinalGrade < 70)
                            {
                                @:C
                            }
                            else if (item.FinalGrade >= 60 && item.FinalGrade < 65)
                            {
                                @:D+
                            }
                            else if (item.FinalGrade >= 50 && item.FinalGrade < 60)
                            {
                                @:D
                            }
                            else
                            {
                                @:F
                            }

                        </td>

                        
                    </tr>
                }
                
            </tbody>
        </table>



