@using College_portal_System.ViewModels.TAViewModels

@{
    ViewData["Title"] = "Edit Task";
    Layout = "~/Views/Shared/_LayoutTeachingAssistant.cshtml";
}
@model EditTaskViewModel;

<div class="pagetitle">
    <h1>Edit Task</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Edit Task</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
                <div class="">
                    <br>
                    <h1>Edit Task</h1>
                    <br>
                    <form method="post" asp-action="EditTask">
                <input type="hidden" asp-for="TaskId" />
                        <div class="input-container">
                        <input placeholder="Content" asp-for="TaskContent" value="@Model.TaskContent" class="input-field" cols="1" rows="1" required></input>
                            <label asp-for="TaskContent" class="input-label">Content</label>
                            <span class="input-highlight"></span>
                            <span asp-validation-for="TaskContent" class="text-danger"></span>
                        </div>

                        <div class="input-container">
                        <input placeholder="Task Link" asp-for="TaskLink" value="@Model.TaskLink" class="input-field" cols="1" rows="1" required></input>
                            <label asp-for="TaskLink" class="input-label">Task Link</label>
                            <span class="input-highlight"></span>
                            <span asp-validation-for="TaskLink" class="text-danger"></span>
                        </div>
                        <div class="input-container col-12">
                            <input placeholder="Grade" asp-for="Grade" value="@Model.Grade" class="input-field" type="text" required>
                            <label asp-for="Grade" class="input-label">Grade</label>
                            <span class="input-highlight"></span>
                            <span asp-validation-for="Grade" class="text-danger"></span>
                        </div>

                        <div class="input-container">
                            <label asp-for="Deadline" class="input-label">Deadline</label>
                            <input placeholder="Deadline" value="@Model.Deadline" class="input-field" asp-for="Deadline" required>
                            <span class="input-highlight"></span>
                            <span asp-validation-for="Deadline" class="text-danger"></span>
                        </div>

                        <br>
                        <br>
                        <!--Save Edit Changes-->
                        <button type="submit" class="submit-btn btn btn-success">Edit Task</button>

                        <!--Delete Task-->
                        <a asp-action="DeleteTask"
                            asp-route-id="@Model.TaskId"
                            class="submit-btn btn btn-success"
                            style="background-color:orangered"
                            onclick="return confirm('Are you sure you want to delete this task?');">
                            Delete Task
                        </a>
                    </form>
                </div>
            </div>
</section>